@import "../../../../assets/css/var.scss";

body,html{
    background: #f2f2f2;
}
.article-box{
}



.article-main{
    .container{
        width: calc(100% - 40px);
        margin-top: 60px;
        padding: 10px;
        box-shadow: 0 0 8px rgba(0,0,0,.1);
        box-sizing: border-box;
        overflow: hidden;
        background: #fff;
        max-width: 1480px;
        min-width: 1160px;
    }
    &:after{
        content: '';
        display: block;
        clear: both;
    }
    .article-left{
        width: 180px;
        float: left;
        min-height: 820px;
        background: #f2f2f2;
        .article-menu{
            display: block;
            dd{
            }
            a{
                display: block;
                height: 60px;
                line-height: 60px;
                text-align: center;
                color: #333;
                font-size: 16px;
                border-bottom: 1px solid #fff;
                &.active,&:hover{
                    background: $mainColor;
                    color: #fff;
                }
            }
        }
    }
}

.article-right{
    width: calc(100% - 180px);
    float: left;
    padding: 5px 30px;
    min-height: 820px;
    ul{
        li{
            line-height: 50px;
            &:nth-child(odd){background: #eee}
            &:hover{background:#ddd;}
            a{
                padding:0 20px;font-size:16px;color:#333;
                &:hover{color:$mainColor;}
                span{font-size:14px;margin-right:20px;}
            }
        }
    }
    .article-info{
        color: #313131;
        font-size: 16px;
        overflow: hidden;
        line-height: 1.8;
        padding-bottom: 50px;
        img{
            max-width: 100%;
        }
    }
    & > h4{
        font-size: 20px;
        color: #333;
        line-height: 50px;
        font-weight: bold;
        padding-left:20px;
        position: relative;
        &:after{content:'';width:5px;height:40%;background:$mainColor;position: absolute;left:0;top:30%;}
    }
    .article-notice{
        display: block;
        &:after{
            content: '';
            display: block;
            clear: both;
        }
        &.article-new{
            li{
                position: relative;
                padding-bottom: 50px;
                & > h6{
                    font-size: 12px;
                    color: #444444;
                    font-weight: normal;
                    padding: 30px 40px 0;
                    a{
                        color: #444444;
                    }
                }
                & > section{
                    & > h4{
                        margin-top: 15px;
                        font-weight: normal;
                    }
                }
                & > .article-new-time{
                    padding-left: 20px;
                    position: absolute;
                    font-size: 12px;
                    color: #888888;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 55px;
                    line-height: 55px;
                    background: #f8f8f8;
                    &:before{
                        content: '\e669';
                        margin-right: 8px;
                        @include iconfont(14px);
                    }
                }
            }
        }
        // li{
        //     display: block;
        //     width: 47.5%;
        //     float: left;
        //     border: solid 1px #dfe2e9;
        //     margin-bottom: 30px;
        //     @include transitionCommon;
        //     &:hover{
        //         box-shadow: 0 49.5px 70px -24.5px rgba(0,0,0,0.3);
        //     }
        //     &:nth-child(2n + 1){
        //         clear: both;
        //     }
        //     &:nth-child(2n + 2){
        //         float: right;
        //     }
        //     .article-new-img{
        //         display: block;
        //         width: 100%;
        //         img{
        //             display: block;
        //             width: 100%;
        //             height: 210px;
        //         }
        //     }
        //     & > section{
        //         display: block;
        //         padding: 30px 40px 50px;
        //         position: relative;
        //         &:before{
        //             content: '';
        //             display: block;
        //             width: 32px;
        //             border-bottom: solid 2px $mainColor;
        //         }
        //         .article-notice-time{
        //             font-size: 12px;
        //             margin-top: 15px;
        //             color: #888888;
        //         }
        //         & > h4{
        //             font-size: 18px;
        //             margin: 20px 0;
        //             height: 56px;
        //             overflow: hidden;
        //             line-height: 1.6;
        //             a{
        //                 color: #222222;
        //                 &:hover{
        //                     color: $mainColor;
        //                 }
        //             }
        //         }
        //         .article-notice-text{
        //             color: #666666;
        //             font-size: 14px;
        //             line-height: 1.4;
        //             height: 38px;
        //             overflow: hidden;
        //         }
        //     }
        // }
        
    }
}



.article-notice2{
    display: block;
    overflow: hidden;
    border-top: solid 1px #c7c7c8;
    margin-bottom: 30px;
    li{
        display: block;
        a{
            display: block;
            height: 60px;
            width: 100%;
            border-bottom: solid 1px #c7c7c8;
            color: #444444;
            line-height: 60px;
            font-size: 16px;
            i{
                display: block;
                color: $fontColor3;
                margin-right: 20px;
                font-style: normal;
                float: left;
            }
            b{
                display: block;
                float: left;
                font-weight: normal;
                width: 550px;
                @include aRow;
            }
            span{
                display: block;
                color: $mainColor;
                float: right;
            }
        }
    }
}


















