@import "../../../../assets/css/var.scss";

body,html{
    background: $bg4;
}
.otc-box{
    padding-bottom: 10px;
}
.otc-block{
    background: #fcfcfd;
}

.otc-table{
    dl{
        dd{
            $w : 1170;
            $itemW1 : 285 / $w * 100%;
            $itemW2 : 175 / $w * 100%;
            $itemW3 : 225 / $w * 100%;
            $itemW4 : 200 / $w * 100%;
            $itemW5 : 200 / $w * 100%;
            $wList : $itemW1, $itemW2, $itemW3, $itemW4, $itemW5, (100% - $itemW1 - $itemW2 - $itemW3 - $itemW4 - $itemW5);
            @for $i from 1 through length($wList){
                &:nth-child(#{$i}){
                    width: nth($wList, $i);
                }
            }
            &:last-child{
                padding: 0;
                text-align: left;
            }
        }
    }
    .head{
        dl{
            dd{
                color: $fontColor3;
                height: 45px;
                line-height: 45px;
                background: #f8f8f8;
            }
        }
    }
    .tbody{
        dl{
            overflow: visible;
            .otc-table-price{
                display: inline-block;
                line-height: 1.4;
                vertical-align: middle;
                i{
                    font-style: normal;
                }
            }
            &:after{
                content: '';
                display: block;
                clear: both;
            }
            $iconBg : #a6937c, #cfa972, #f39800, #32b16c, #448aca, #ec6941;
            @for $i from 1 through length($iconBg){
                dd:nth-child(1) i.type#{$i}{
                    background: nth($iconBg, $i);
                }
            }
            &:last-child{
                dd:nth-child(1):before{
                    display: none;
                }
            }
            dd{
                height: 80px;
                color: $bg3;
                line-height: 80px;
                .pay-icon{
                    display: inline-block;
                    margin-right: 5px;
                    &:before{
                        content: '\e636';
                        @include iconfont(20px);
                        color: #fe663c;
                    }
                    &.aliPay:before{
                        content: '\e63e';
                        color: #32b2ec;
                    }
                    &.weChat:before{
                        content: '\e61a';
                        color: #69be5d;
                    }
                }
                .otc-btn{
                    display: inline-block;
                    width: 100%;
                    height: 33px;
                    text-align: center;
                    line-height: 33px;
                    color: #2eb363;
                    border-radius: 2px;
                    border: solid 1px #2eb363;
                    @include transitionCommon;
                    &:hover{
                        background: #2eb363;
                        color: #ffffff;
                    }
                    &.active{
                        border-color: $mainColor;
                        color: $mainColor;
                        &:hover{
                            background: $mainColor;
                            color: #ffffff;
                        }
                    }
                }
                &:nth-child(1){
                    padding-left: 3px;
                    position: relative;
                    overflow: visible;
                    i{
                        display: inline-block;
                        width: 36px;
                        height: 36px;
                        line-height: 36px;
                        text-align: center;
                        background: #a6937c;
                        border-radius: 50%;
                        font-size: 18px;
                        color: #ffffff;
                        text-transform: uppercase;
                        font-style: normal;
                        position: relative;
                        margin-right: 10px;
                        &:after{
                            content: '';
                            border-radius: 50%;
                            display: block;
                            width: 9px;
                            height: 9px;
                            border: solid 1px #ffffff;
                            background: $mainColor;
                            position: absolute;
                            bottom: 1px;
                            right: 1px;
                        }
                    }
                    &:before{
                        content: '';
                        display: block;
                        position: absolute;
                        background: #fcfcfd;
                        width: 48px;
                        bottom: -2px;
                        height: 5px;
                    }
                }
            }
        }
    }
}

.otc-title{
    & > a{
        display: inline-block;
        position: relative;
        color: #888888;
        margin-right: 60px;
        &.active,&:hover{
            color: $bg3;
            &:before{
                content: '';
                display: block;
                position: absolute;
                border-bottom: solid 2px $mainColor;
                bottom: 0px;
                left: 0;
                width: 100%;
            }
        }
    }
    .otc-menu{
        overflow: hidden;
        position: relative;
        float: right;
        line-height: 1;
        margin-top: 10px;
        a{
            display: block;
            float: left;
            margin-left: 15px;
            height: 33px;
            width: 85px;
            line-height: 31px;
            color: $bg3;
            border: solid 1px $bg3;
            font-size: 14px;
            font-weight: normal;
            text-align: center;
            border-radius: 2px;
            transition: all .4s ease;
            &:hover{
                color: $mainColor;
                border-color: $mainColor;
            }
        }
    }
}

$shopOneW : 43%;
.shop-user{
    display: block;
    overflow: hidden;
    margin-top: 30px;
    .shop-user-left{
        width: $shopOneW;
        padding-left: 3px;
        float: left;
        i{
            display: inline-block;
            width: 77px;
            height: 77px;
            text-align: center;
            line-height: 77px;
            border-radius: 50%;
            color: #ffffff;
            background: $bg3;
            font-style: normal;
            font-size: 36px;
            position: relative;
            margin-right: 20px;
            text-transform: uppercase;
            &:before{
                content: '';
                display: block;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background: $mainColor;
                border: solid 2px $bg;
                position: absolute;
                right: 3px;
                bottom: 3px;
            }
            &.active{
                &:before{
                    background: #888888;
                }
            }
        }
        & > div{
            display: inline-block;
            vertical-align: top;
            h4{
                line-height: 2;
                font-size: 18px;
                color: $bg3;
            }
            p{
                line-height: 1.4;
                color: $fontColor3;
                font-size: 14px;
                b{
                    color: $bg3;
                    margin-left: 5px;
                }
            }
        }
    }
    .shop-user-right{
        width: 100% - $shopOneW;
        overflow: hidden;
        float: left;
        margin-top: 15px;
        span{
            display: block;
            width: 33%;
            float: left;
            border-left: solid 1px #dfe2e9;
            padding-left: 55px;
            &:first-child{
                text-align: left;
                border-left: none;
                padding-left: 0;

            }
            &:nth-child(2){
                width: 37%;
            }
            &:nth-child(3){
                width: 30%;
            }
            small{
                display: block;
                font-size: 16px;
                color: $fontColor3;
                margin-bottom: 17px;
            }
            b{
                display: block;
                font-size: 24px;
                color: $bg3;
            }
        }
    }
}
.shop-data{
    display: block;
    overflow: hidden;
    margin-top: 60px;
    margin-bottom: 10px;
    li{
        display: block;
        float: left;
        width: (100% - $shopOneW) / 2;
        color: $fontColor3;
        font-size: 16px;
        margin-bottom: 30px;
        span{
            font-weight: normal;
            display: inline-block;
            width: 95px;
            text-align: left;
        }
        b{
            display: inline-block;
            color: $bg3;
            font-size: 18px;
        }
        &:nth-child(3n + 1){
            width: $shopOneW;
        }
        &:nth-child(3n + 2){

        }
        &:nth-child(3n + 3){
            text-align: right;
        }
    }
}

.shop-state{
    border-top: solid 1px #dfe2e9;
    margin-bottom: 50px;
    li{
        display: block;
        border-bottom: solid 1px #dfe2e9;
        height: 55px;
        line-height: 55px;
        font-size: 16px;
        color: $fontColor3;
        overflow: hidden;
        a{
            float: right;
            width: 120px;
            display: block;
            &:before{
                display: inline-block;
                vertical-align: middle;
                margin-right: 16px;
                content: '\e610';
                @include iconfont(26px);
                color: $mainColor;
            }
            &.active{
                color: $bg3;
                &:before{
                    content: '\e608';
                    color: #69bf5d;
                }
            }
        }
    }
}

.otc-title .otc-menu.otc-ad-btn{
    width: 8.11966%;
    a{
        display: block;
        width: 100%;
        margin-left: 0;
        border-color: $mainColor;
        color: $mainColor;
        &:hover{
            background: $mainColor;
            color: #ffffff;
        }
    }
};
.shop-table{
    dl{
        dd{
            $w : 1170;
            $itemW1 : 220 / $w * 100%;
            $itemW2 : 220 / $w * 100%;
            $itemW3 : 150 / $w * 100%;
            $itemW4 : 145 / $w * 100%;
            $itemW5 : 150 / $w * 100%;
            $itemW6 : 190 / $w * 100%;
            $wList : $itemW1, $itemW2, $itemW3, $itemW4, $itemW5, $itemW6, (100% - $itemW1 - $itemW2 - $itemW3 - $itemW4 - $itemW5 - $itemW6);
            @for $i from 1 through length($wList){
                &:nth-child(#{$i}){
                    width: nth($wList, $i);
                }
            }
            &:last-child{
                padding: 0;
                text-align: left;
            }
        }
    }
    .head{
        dl{
            dd{
                color: $fontColor3;
                height: 45px;
                line-height: 45px;
                background: #fbfbfc;
            }
        }
    }
    .tbody{
        dl{
            dd{
                &:nth-child(1){
                    padding-left: 10px;
                }
            }
        }
    }
}

.order-table{
    dl{
        dd{
            $w : 1170;
            $itemW1 : 220 / $w * 100%;
            $itemW2 : 200 / $w * 100%;
            $itemW3 : 135 / $w * 100%;
            $itemW4 : 125 / $w * 100%;
            $itemW5 : 125 / $w * 100%;
            $itemW6 : 135 / $w * 100%;
            $itemW7 : 175 / $w * 100%;
            $wList : $itemW1, $itemW2, $itemW3, $itemW4, $itemW5, $itemW6, $itemW7, (100% - $itemW1 - $itemW2 - $itemW3 - $itemW4 - $itemW5 - $itemW6 - $itemW7);
            @for $i from 1 through length($wList){
                &:nth-child(#{$i}){
                    width: nth($wList, $i);
                }
            }
            &:last-child{
                padding: 0;
                text-align: left;
            }
        }
    }
}

.otc-trade{
    display: block;
    position: fixed;
    z-index: 99999;
    @include fullWH;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
    .otc-trade-box{
        display: block;
        width: 550px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background: #ffffff;
        border-radius: 2px;
        $pL : 48px;
        padding-bottom: 60px;
        &.otc-ad-box{
            width: 680px;
            dl{
                dt{
                }
                dd:nth-of-type(2){
                    color: #888888;
                    margin-left: 15px;
                };
            }
        }
        h4{
            color: $bg3;
            font-size: 26px;
            padding-left: $pL;
            font-weight: normal;
            height: 65px;
            line-height: 65px;
            border-bottom:solid 1px #e3e6eb;
            margin-bottom: 30px;
            position: relative;
            .close{
                display: block;
                cursor: pointer;
                position: absolute;
                right: $pL;
                top: 50%;
                transform: translateY(-50%);
                &:before{
                    content: '\e612';
                    @include iconfont(30px);
                    color: #888888;
                }
            }
        }
        dl{
            display: block;
            margin-bottom: 20px;
            font-size: 16px;
            padding-left: $pL;
            dt{
                display: inline-block;
                width: 100px;
                vertical-align: middle;
                color: #888888;

            }
            dd{
                vertical-align: middle;
                display: inline-block;
                $inputH : 45px;
                & > label{
                    display: inline-block;
                    line-height: 1;
                    margin-right: 25px;
                    cursor: pointer;
                    input{
                        display: none;
                    }
                    span{
                        user-select: none;
                        display: inline-block;
                        height: 30px;
                        line-height: 30px;
                        &:before{
                            margin-right: 8px;
                            display: inline-block;
                            vertical-align: middle;
                            content: '\e627';
                            @include iconfont(30px);
                            color: #e3e6eb;
                        }
                    }
                    input:checked + span:before{
                        content: '\e628';
                        color: $bg3;
                    }
                }
                .selectMy{
                    height: $inputH;
                    line-height: $inputH;
                }
                .select-input{
                    width: 280px;
                    height: 45px;
                    line-height: 45px;
                    border-color: #e3e6eb;
                    font-size: 16px;
                }
                .select-list{
                    border-color: #e3e6eb;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    li{
                        padding: 10px 10px;
                    }
                }
                & > small{
                    color: #888888;
                }
                & > b{
                    font-size: 24px;
                    color: $bg3;
                    font-weight: normal;
                }
                & > span{
                    font-size: 18px;
                    color: $bg3;
                }
                & > input{
                    width: 280px;
                    height: $inputH;
                    line-height: $inputH;
                    padding: 0 10px;
                    border: solid 1px #e3e6eb;
                    font-size: 16px;
                    color: $bg3;
                    &::placeholder{
                        color: #888888;
                    }
                }
                & > .trade-btn{
                    margin-top: 25px;
                    display: block;
                    width: 280px;
                    height: 53px;
                    color: #ffffff;
                    border: solid 1px $mainColor;
                    background: $mainColor;
                    font-size: 26px;
                    text-align: center;
                    line-height: 50px;
                    border-radius: 2px;
                    @include transitionCommon;
                    &:hover{
                        background: transparent;
                        color: $mainColor;
                    }
                }
            }
        }
    }
}

.order-details{
    @extend .otc-trade;
    .ewm{
        display: block;
        position: absolute;
        z-index: 99999;
        @include fullWH;
        left: 0;
        top: 0;
        background: rgba(0, 0, 0, 0.6);
        img,.loading{
            display: block;
            max-height: 100%;
            max-width: 280px;
            min-width: 100px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .order-details-box{
        width: 820px;
        $pw:30px;
        padding-bottom: 25px;
        h4{
            padding: 0 $pw;
        }
        dl{
            padding: 0 $pw;
            font-size: 14px;
            &.border{
                &:before{
                    content: '';
                    display: block;
                    border-bottom: solid 1px #e5e5e5;
                }
            }
            dt{
                font-size: 14px;
                width: 85px;
            }
            dd{
                font-size: 14px;
                color: $bg3;
                .trade-btn{
                    width: auto;
                    min-width: 210px;
                    padding: 0 15px;
                    height: 42px;
                    line-height: 40px;
                    font-size: 20px;
                }
            }
        }
        .state-dec{
            font-size: 16px;
            color: $bg3;
            padding: 5px $pw;
            span{

            }
            small{
                color: #888888;
            }
            .remark{
                text-decoration: underline;
            }
        }
        .order-details-remark{
            font-size: 12px;
            color: #888888;
            line-height: 2;
            padding: 0 $pw;
        }
    }
}

.apply-shop-text{
    display: block;
    overflow: hidden;
    width: 960px;
    margin: 60px auto;
    color: $bg3;
    line-height: 55px;
    h4{
        font-size: 18px;
        font-weight: normal;
    }
}
.apply-shop-flow{
    display: block;
    overflow: hidden;
    width: 960px;
    margin: 60px auto;
    li{
        display: block;
        float: left;
        width: 25%;
        text-align: center;
        position: relative;
        span{
            display: block;
            margin-top: 10px;
            font-size: 18px;
            color: #3c3d49;
        }
        i{
            display: block;
            font-style: normal;
            width: 22px;
            height: 22px;
            margin: 0 auto;
            color: #ffffff;
            background: #dfe2e9;
            border-radius: 50%;
            font-size: 14px;
            text-align: center;
            line-height: 22px;
            &:before{
                content: '';
                position: absolute;
                width: 96%;
                left: 0;
                top: 8px;
                border-bottom: solid 2px #dfe2e9;
            }
        }
        &.active{
            i{
                background: $mainColor;
                &:before{
                    border-color: $mainColor;
                }
            }
        }
    }
}

.apply-shop-btn{
    display: block;
    cursor: pointer;
    width: 280px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: $mainColor;
    color: #ffffff;
    border: solid 1px $mainColor;
    font-size: 18px;
    border-radius: 2px;
    margin: 0 auto 60px;
    @include transitionCommon;
    &:hover{
        background: transparent;
        color: $mainColor;
    }
}








