#wrap {
    background: url('../images/banner.png') 0 0 no-repeat;
    background-size: cover;
    /* height: 2540px; */
    /* height: 100%; */
    height: 2543px;
}

.logo {
    margin-top: 28px;
}

.logo a {
    line-height: 45px;
    color: #FFF;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 2px;
}

.logo img {
    line-height: 40px;
    margin-right: 15px;
    width: 35px;
}
.search_hash{
	height: calc(25.16% - 12.42%);
}
.search_hash form {
    width: 100%;
}
.search_hash .col-sm-12,.search_hash .row_w,
.search_hash .container,
.search_hash form{
	height: 100%
}

.search_hash form .form-group {
    width: 100%;
    height: 65px;
    line-height: 65px;
    position: relative;
}

.search_hash form .form-group input {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    font-size: 24px;
    color: #7d7d82;
    text-align: center;
}

input::-webkit-input-placeholder {
    color: #7d7d82!important;
}

input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #7d7d82!important;
}

input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #7d7d82!important;
}

input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #312e5e!important;
}

.search_hash form .form-group i{
	position: absolute;
	z-index: 2;
	right: 11%;
	top: 14%;
	width: 2%;
	min-width: 15px;
}
.search_hash form .form-group i img{
	width: 100%;
	cursor: pointer;
}
.prompt{
	font-size: 16px;
	color: #a6caff;
	text-align: center;
	margin-top: 60px;
}
.search_hash{
	margin-top: 12.42%;
}
#img{
	width: 100%;
	font-size: 0;
	position: absolute;
	z-index: 0;
	display: none
}
.block_height{
	height: 75.57%
}
.block_height .row_w,
.block_height .container{
	height: 100%;
}
.block_height_info .col-sm-6{
	height: 400px;
}
.block_height_info {
	padding-top: 270px;
}
.block_height_info .col-sm-6 h3{
	font-size: 24px;
	color: #322e5e;
	/* font-weight: 400; */
	margin-bottom: 33px;
}
.block_height_info .col-sm-6 .pull-left p{
	font-size: 25px;
	font-weight: 400;
	color: #333;
	text-align: left;
	margin-bottom: 20px;
}
.block_height_info .col-sm-6 .pull-left span{
	font-size: 14px;
	color: #333;
	/* padding-left: 5px; */
}
.block_height_info .col-sm-6 .pull-left{
	margin-right: 100px;
}
.block_height_info .col-sm-6 .pull-left:last-child{
	margin-right: 0;
}
.record{
	padding-top: 7.4%;
}
.record h3{
	font-size: 24px;
	color: #322e5e;
	/* font-weight: 400; */
	margin-bottom: 53px;
}

.record table{
	width: 100%;
	text-align: center
}
.record table th{
	text-align: center;
	font-size: 16px;
	line-height: 3.5;
	color: #a8a8a8;
}
.record table thead{
	background: #f6f7f9
}
.record table thead th{
	overflow:hidden; /*超出的部分隐藏起来。*/ 
	white-space:nowrap;/*不显示的地方用省略号...代替*/
	text-overflow:ellipsis;/* 支持 IE */
	max-width: 90px
}

.record table tbody tr td{
	font-size: 14px;
	line-height: 4.5;
	overflow:hidden; /*超出的部分隐藏起来。*/ 
	white-space:nowrap;/*不显示的地方用省略号...代替*/
	text-overflow:ellipsis;/* 支持 IE */
	max-width: 90px
}
.record table tbody tr td:nth-child(2){
	color: #6eb0e9
}
.record table tbody tr td:nth-child(3){
	color: #6eb0e9
}
.record table tbody tr:nth-child(odd){
	background: #FFF;
}
.record table tbody tr:nth-child(even){
	background: #f6f7f9;
}

.record table tbody tr td img{
	width: 22px;
	position: relative;
	top: 6px;
}
.paging_info .pull-left{
	padding-top: 25px;
}
.paging_info .pull-left{
	color: #FFF;
	height: 59px;
}
.paging_info .pull-left a{
	font-size: 16px;
	color: #322e5e
}

footer p{
	text-align: center;
	color: #666666;
	line-height: 2;
	font-size: 16px;
}
.paging_num span{
	color: #FFF;
	font-size: 16px;
	padding: 0 5px
}
.paging_num {
	padding-top: 25px;
	/* display: none */
	opacity: 0
}
.paging_num input{
	width: 40px;
	text-align: center;
	background: transparent;
	outline: none;
	height: 30px;
	line-height: 30px;
	border-radius: 5px;
	border: 1px solid #FFF;
	position: relative;
	top: -2px;
	color: #FFF;
}

.paging_num button{
	background: #1791e1;
	border: 1px solid #FFF;
	height: 30px;
	line-height: 30px;
	color: #FFF;
	border-radius: 5px;
	position: relative;
	top: 2px
}

.data_info{
	position: absolute;
	top: 15px;
	right: 10%;
	z-index: 3;
}
.data_info ul li{
	float: left;
	padding: 5px 20px;
	background: #f6fafd;
	font-size: 14px;
	margin:  0 15px;
	color: #1791e1;
	list-style: none;
	cursor: pointer;
	border: 1px solid #eef7fb
}
.data_info ul li.active{
	background: #bde7ff;
	color: #1791e1
}
.chart{
	position: relative;
	background: #FFF;
	border-radius: 20px;
	border: 1px solid #ebebeb;
	box-shadow: 0 0 100px #ebebeb;
}
#search{
	height: 100%;
}
#search body{
	height: 100%
}
.search_wrap{
	height: calc(100% - 64px);
	background: url('../images/bg.png') center center no-repeat;
	background-size: cover;
	min-height: 900px;

}
.address span{
	font-size: 18px;
	color: #FFF;
	font-weight: bold;
	line-height: 40px;
}
.address em{
	font-style: normal;
	font-size: 16px;
	color: #FFF;
	line-height: 40px;
}
.address{
	padding-right: 15%;
}
.balance span{
	font-size: 16px;
	color: #FFF;
	line-height: 40px;
}
.balance em{
	font-style: normal;
	font-size: 16px;
	color: #FFF;
	line-height: 40px;
}
.search_input_wrap{
	position: relative;
	border-radius: 30px;
	height: 40px;
}
.search_input_wrap input{
	width: 100%;
	height: 40px;
	line-height: 40px;
	border: none;
	outline: none;
	border-radius: 40px;
	padding: 10px 45px 10px 15px;
	font-size: 13px;
	color: #96d0ff;
}

.search_input_wrap i{
	position: absolute;
	top: 12px;
	right: 5%;
	width: 15px;
	height: 15px;
	cursor: pointer;
	z-index: 2
}
.search_input_wrap i img{
	width: 100%
}
.table_wrap table{
	width: 100%;
	font-size: 16px;
	color: #FFF;
	text-align: center;
}
.table_wrap table th{
	font-size: 18px;
	text-align: center;
	font-weight: 400;
	color: #a8a8a8
}
.table_wrap table thead tr{
	background: #ffffff;
	border-top: 3px solid #9896ae;
	line-height: 55px;
}
.table_wrap table tbody tr{
	line-height: 55px;
	color: #666666
}
.table_wrap table tbody tr td:nth-child(1){
	color: #666666;
	width: 20%
}

.search_wrap_1 table tbody tr td:nth-child(2){
	text-align: left
}
.table_wrap table tbody tr td:nth-child(1) a{
	color: #6eb0e9;
	max-width: 40px;
	overflow:hidden; /*超出的部分隐藏起来。*/ 
	white-space:nowrap;/*不显示的地方用省略号...代替*/
	text-overflow:ellipsis;/* 支持 IE */
}
.table_wrap table tbody tr:nth-child(odd){
	background: #f0f0f0
}
.table_wrap table tbody tr:nth-child(even){
	background: #FFF
}
.table_wrap{
	margin-top: 40px;
}
.search_info_wrap{
	margin-top: 8%;
}
.table_wrap table td,
.table_wrap table th{
	max-width: 40px;
	overflow:hidden; /*超出的部分隐藏起来。*/ 
	white-space:nowrap;/*不显示的地方用省略号...代替*/
	text-overflow:ellipsis;/* 支持 IE */
	height: 55px;

}
.search_wrap_1 table img{
	position: relative;
	top: 5px;
}
.search_wrap_1 table tbody tr td:nth-child(2){
	color: #666
}
.search_wrap_1 table tbody tr td:nth-child(3){
	color: #666
}

.paging_info .pull-left a.active{
	color: #FFF;
}



