@import "var";

.tophead{
    height:$headerHeight;
    background:rgba(0,0,0,.8);
    line-height:$headerHeight;
    position:fixed;
    top:0;
    left:0;
    z-index: 9999;
    width:100%;
    .trade{background: #252525;}
    a{
        color:#979797;
        &:hover, &.cur{color:#fff;}
    }
    .lang{
        float: left;padding:0 20px;font-size:12px;margin:0 20px;
        &:hover{background:rgba(255,255,255,.1)}
    }
    .nav{
        float: left;
        a{margin-right:20px;}
    }
    .logo{
        background:url("../images/index_logo.png") center center no-repeat;
        width: 180px;
        height:$headerHeight;
        float: left;
        position: relative;
        a{display:block;height:100%;}
        span{
            position: absolute;
            top:10px;
            right:-40px;
            color:#c59835;
            border:1px solid #c59835;
            padding:0px 6px;
            line-height:20px;
            border-radius:4px;
            font-size:12px;
        }
    }
    .login{
        text-align: right;
        .login-name{
            width: 65%;display: inline-block;
            text-align:left;
            position: relative;color: #f1f1f1;
            font-size:16px;
            text-overflow: ellipsis;
            white-space: nowrap;           
            &:hover{
                background:rgba(29, 29, 29, 0.8);
            }
            a{
                display: inline;
                padding-left:20px;
                .iconfont{font-size:26px;position: relative;top:3px}
                &:hover{
                    background:none;
                }
            }
            ul{
                display: none;
                position: absolute;
                background: rgba(29, 29, 29, 0.8);
                width: 100%;
                li{
                    text-align: left;
                    padding:0 20px;
                    height:36px;
                    line-height: 36px;
                    font-size:14px;
                    border-bottom: 1px dotted #444;
                    cursor: pointer;
                    &:last-child{border-bottom:none;}
                    span{
                        float: right;
                        font-weight:bold;
                        color:#FC7001;
                        font-size:14px;
                        &.state{
                            border:1px solid $mainColor;
                            color:$mainColor;
                            line-height:20px;
                            padding: 1px 5px;
                            margin-top:5px;
                        }
                    }
                    &.exit{cursor: pointer;}
                }
            }
            
            &:hover{
                
                ul {display:block;}
            }
        }
        a{
            text-align: center;
            width:30%;
            display: inline-block;
            height: 35px;
            vertical-align: middle;
            line-height: 35px;
            &:hover{
                background: #FF6500;
                color: #fff;
            }
            &.cur{
                background: #FF6500;
                color: #fff;
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    .tophead{
        position: relative;
        height: 53px;
    }
}




















































